 .login-tabs{background:#324b30; font-weight:bold;}
    .nav-tabs>li>a:hover{background: #dff0d8;color:#324b30; border-radius:0px;border-top:3px solid #324b30; }
    .nav-tabs>li>a{color:#FFF;}
        .tab-body{position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    width:680px; 
    
    }
    .well{height:530px;
          /*background:#324b30;*/
    position: relative;
  background: #dff0d8;
  margin: 0 auto 100px;
  padding: 30px;
  color:#324b30;
  border:0px !important; box-shadow: 0px !important;-webskit-box-shadow: 0px !important;
    
    }
    body {

  background:url(../images/bg.jpg)  no-repeat center fixed;
        -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
 	background-size: cover;
 	
}
body:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
}

.login-logo{box-shadow:0px 0px 10px #666; margin-bottom: 20px; border-radius:100%; border:5px solid #1b6b36; }

.sumbitBtn{
  outline: 0;
  background: #1b6b36;
  width: 100%;
  border: 0;
  padding: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #FFFFFF;
  font-size: 18px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-bottom:15px;
}

.registerBtn{    width: 150px;
    margin-left: 16px;outline: 0;
  background: #1b6b36;
  width:150px;
  border: 0;
  padding:7px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #FFFFFF;
  font-size: 18px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-bottom:15px;}


.sumbitBtn:hover, .registerBtn:hover{ background:#324b30; color:#FFF;}
.forget-password{
        color:#324b30;float:right; display:inline-block;
    }
    .forget-password:hover{
    text-decoration:underline;
    color:#324b30;
} 
.lanuage-select {
    width: 100px;
    float: right;
}
.user-login-from{ width: 350px; margin: 100px auto;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{color: #324b30; border-top:3px solid #324b30; border-radius:0px; background:#dff0d8   }
    .form-group.required .symbol:after {
  content:"*";
  color:red;
}
@media (max-height:870px) {.tab-body {transform: translate(-50%, 0%);top: 0%;}}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover{ background:#324b30
!important;border-color:#324b30
!important;}